.single-banner.mb-3 {
    margin: 10px;
}

.banner-content-3.wow.slideInLeft {
    position: absolute;
    top: 50%;
    font-size: 2px;
    color: white;
    left: 50%;
    transform: translate(-50%, -50%);
}

p.white-text {
    color: white;
    font-size: 14px;
}

.elementor-element.elementor-element-5666634.elementor-widget.elementor-widget-heading.pemisah {
    top: -50px;
    display: block;
}