.elementor-99 .elementor-element.elementor-element-266dcf6>.elementor-element-populated {
    padding: 15px 0px 0px 15px;
}

.elementor-99 .elementor-element.elementor-element-f67120f .raven-site-logo img,
.elementor-99 .elementor-element.elementor-element-f67120f .raven-site-logo svg {
    width: 100px;
}

.elementor-99 .elementor-element.elementor-element-f67120f .raven-site-logo {
    text-align: left;
}

.elementor-99 .elementor-element.elementor-element-5a37585 {
    text-align: left;
}

.elementor-99 .elementor-element.elementor-element-5a37585.elementor-widget-heading .elementor-heading-title {
    color: #19ac54;
}

.elementor-99 .elementor-element.elementor-element-5a37585 .elementor-heading-title {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.8em;
}

.elementor-99 .elementor-element.elementor-element-5a37585>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-99 .elementor-element.elementor-element-f200894 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(5px/2);
}

.elementor-99 .elementor-element.elementor-element-f200894 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(5px/2);
}

.elementor-99 .elementor-element.elementor-element-f200894 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(5px/2);
    margin-left: calc(5px/2);
}

.elementor-99 .elementor-element.elementor-element-f200894 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-5px/2);
    margin-left: calc(-5px/2);
}

body.rtl .elementor-99 .elementor-element.elementor-element-f200894 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-5px/2);
}

body:not(.rtl) .elementor-99 .elementor-element.elementor-element-f200894 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-5px/2);
}

.elementor-99 .elementor-element.elementor-element-f200894 .elementor-icon-list-icon i {
    color: #19ac54;
    font-size: 20px;
}

.elementor-99 .elementor-element.elementor-element-f200894 .elementor-icon-list-icon {
    width: 20px;
}

.elementor-99 .elementor-element.elementor-element-f200894 .elementor-icon-list-text {
    color: #19ac54;
}

.elementor-99 .elementor-element.elementor-element-f200894 .elementor-icon-list-item {
    font-size: 14px;
    font-weight: 500;
}

.elementor-99 .elementor-element.elementor-element-e74f36a {
    text-align: left;
}

.elementor-99 .elementor-element.elementor-element-e74f36a.elementor-widget-heading .elementor-heading-title {
    color: #19ac54;
}

.elementor-99 .elementor-element.elementor-element-e74f36a .elementor-heading-title {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.8em;
}

.elementor-99 .elementor-element.elementor-element-e74f36a>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-99 .elementor-element.elementor-element-818350b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(5px/2);
}

.elementor-99 .elementor-element.elementor-element-818350b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(5px/2);
}

.elementor-99 .elementor-element.elementor-element-818350b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(5px/2);
    margin-left: calc(5px/2);
}

.elementor-99 .elementor-element.elementor-element-818350b .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-5px/2);
    margin-left: calc(-5px/2);
}

body.rtl .elementor-99 .elementor-element.elementor-element-818350b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-5px/2);
}

body:not(.rtl) .elementor-99 .elementor-element.elementor-element-818350b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-5px/2);
}

.elementor-99 .elementor-element.elementor-element-818350b .elementor-icon-list-icon i {
    color: #19ac54;
    font-size: 20px;
}

.elementor-99 .elementor-element.elementor-element-818350b .elementor-icon-list-icon {
    width: 20px;
}

.elementor-99 .elementor-element.elementor-element-818350b .elementor-icon-list-text {
    color: #19ac54;
}

.elementor-99 .elementor-element.elementor-element-818350b .elementor-icon-list-item {
    font-size: 14px;
    font-weight: 500;
}

.elementor-99 .elementor-element.elementor-element-8c49c3b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(5px/2);
}

.elementor-99 .elementor-element.elementor-element-8c49c3b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(5px/2);
}

.elementor-99 .elementor-element.elementor-element-8c49c3b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(5px/2);
    margin-left: calc(5px/2);
}

.elementor-99 .elementor-element.elementor-element-8c49c3b .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-5px/2);
    margin-left: calc(-5px/2);
}

body.rtl .elementor-99 .elementor-element.elementor-element-8c49c3b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-5px/2);
}

body:not(.rtl) .elementor-99 .elementor-element.elementor-element-8c49c3b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-5px/2);
}

.elementor-99 .elementor-element.elementor-element-8c49c3b .elementor-icon-list-icon i {
    color: #19ac54;
    font-size: 20px;
}

.elementor-99 .elementor-element.elementor-element-8c49c3b .elementor-icon-list-icon {
    width: 20px;
}

.elementor-99 .elementor-element.elementor-element-8c49c3b .elementor-icon-list-text {
    color: #19ac54;
}

.elementor-99 .elementor-element.elementor-element-8c49c3b .elementor-icon-list-item {
    font-size: 14px;
    font-weight: 500;
}

.elementor-99 .elementor-element.elementor-element-c806083>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-99 .elementor-element.elementor-element-88f7731 {
    text-align: left;
}

.elementor-99 .elementor-element.elementor-element-88f7731.elementor-widget-heading .elementor-heading-title {
    color: #19ac54;
}

.elementor-99 .elementor-element.elementor-element-88f7731 .elementor-heading-title {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.8em;
}

.elementor-99 .elementor-element.elementor-element-88f7731>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-99 .elementor-element.elementor-element-d33d377 .elementor-text-editor {
    text-align: left;
}

.elementor-99 .elementor-element.elementor-element-d33d377 {
    color: #19ac54;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3em;
}

.elementor-99 .elementor-element.elementor-element-d33d377>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-99 .elementor-element.elementor-element-8bf346a .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(5px/2);
}

.elementor-99 .elementor-element.elementor-element-8bf346a .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(5px/2);
}

.elementor-99 .elementor-element.elementor-element-8bf346a .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(5px/2);
    margin-left: calc(5px/2);
}

.elementor-99 .elementor-element.elementor-element-8bf346a .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-5px/2);
    margin-left: calc(-5px/2);
}

body.rtl .elementor-99 .elementor-element.elementor-element-8bf346a .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-5px/2);
}

body:not(.rtl) .elementor-99 .elementor-element.elementor-element-8bf346a .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-5px/2);
}

.elementor-99 .elementor-element.elementor-element-8bf346a .elementor-icon-list-icon i {
    color: #19ac54;
    font-size: 20px;
}

.elementor-99 .elementor-element.elementor-element-8bf346a .elementor-icon-list-icon {
    width: 20px;
}

.elementor-99 .elementor-element.elementor-element-8bf346a .elementor-icon-list-text {
    color: #19ac54;
}

.elementor-99 .elementor-element.elementor-element-8bf346a .elementor-icon-list-item {
    font-size: 14px;
    font-weight: 500;
}

.elementor-99 .elementor-element.elementor-element-552d2fd:not(.elementor-motion-effects-element-type-background),
.elementor-99 .elementor-element.elementor-element-552d2fd>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #ffffff;
}

.elementor-99 .elementor-element.elementor-element-552d2fd {
    border-style: solid;
    border-width: 01px 0px 0px 0px;
    border-color: #e3e3e3;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 30px 0px;
}

.elementor-99 .elementor-element.elementor-element-552d2fd>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

@media(min-width:768px) {
    .elementor-99 .elementor-element.elementor-element-266dcf6 {
        width: 20.019%;
    }
    .elementor-99 .elementor-element.elementor-element-08e681f {
        width: 20.019%;
    }
    .elementor-99 .elementor-element.elementor-element-011f2f4 {
        width: 34.962%;
    }
}

@media(max-width:1024px) {
    .elementor-99 .elementor-element.elementor-element-266dcf6>.elementor-element-populated {
        padding: 10px 10px 10px 20px;
    }
    .elementor-99 .elementor-element.elementor-element-f67120f .raven-site-logo img,
    .elementor-99 .elementor-element.elementor-element-f67120f .raven-site-logo svg {
        width: 90px;
    }
    .elementor-99 .elementor-element.elementor-element-5a37585 .elementor-heading-title {
        font-size: 16px;
    }
    .elementor-99 .elementor-element.elementor-element-e74f36a .elementor-heading-title {
        font-size: 16px;
    }
    .elementor-99 .elementor-element.elementor-element-88f7731 .elementor-heading-title {
        font-size: 16px;
    }
    .elementor-99 .elementor-element.elementor-element-d33d377 {
        font-size: 16px;
    }
}

@media(max-width:767px) {
    .elementor-99 .elementor-element.elementor-element-266dcf6>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-99 .elementor-element.elementor-element-f67120f .raven-site-logo {
        text-align: center;
    }
    .elementor-99 .elementor-element.elementor-element-5a37585 {
        text-align: center;
    }
    .elementor-99 .elementor-element.elementor-element-e74f36a {
        text-align: center;
    }
    .elementor-99 .elementor-element.elementor-element-88f7731 {
        text-align: center;
    }
    .elementor-99 .elementor-element.elementor-element-d33d377 .elementor-text-editor {
        text-align: center;
    }
}